{% extends "base.html" %}

{% block title %}Classes - SDS{% endblock %}

{% block content %}

<!-- Page heading -->
<h2>Classes</h2>

<!-- Class List Table  Shows all classes and the students enrolled in each class-->
<table class="table table-borderless table-hover align-middle">

  <!-- Table header -->
  <thead class="table-dark">
    <tr>
      <th>Class Name</th>
      <th>Dance Type</th>
      <th>Grade</th>
      <th>Day</th>
      <th>Time</th>
      <th>Enrolled Student<br>First Name</th>
      <th>Enrolled Student<br>Last Name</th>
    </tr>
  </thead>


  <tbody>

  <!-- Namespace variables:
       prev_class_id : track class grouping
       row_style     : track current Bootstrap row colour -->
  {% set ns = namespace(prev_class_id=None, row_style='table-light') %}

  <!-- Loop through each row returned from the database -->
  {% for class_row in classes %}
  
  <!-- Switch colour when a new class starts -->
  {% if class_row['class_id'] != ns.prev_class_id %}
    {% set ns.row_style = 'table-secondary' if ns.row_style == 'table-light' else 'table-light' %}
  {% endif %}

  <tr class="{{ ns.row_style }}">

    <!-- Only display class details when the class_id changes -->
    {% if class_row['class_id'] != ns.prev_class_id %}

      <td class="fw-semibold">
        {{ class_row['class_name'] }}
      </td>

      <td>{{ class_row['dance_type'] }}</td>

      <td>
        {% if class_row['grade_name'] %}
          {{ class_row['grade_name'] }}
        {% else %}
          <span class="text-muted">No grade</span>
        {% endif %}
      </td>

      <td>{{ class_row['schedule_day'] }}</td>
      <td>{{ class_row['schedule_time'] }}</td>

      <!-- Update previous class_id -->
      {% set ns.prev_class_id = class_row['class_id'] %}

    {% else %}
      <!-- Leave class columns empty for additional students -->
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    {% endif %}


      <!-- Student first name (clickable to class summary) -->
      <td>
        {% if class_row['first_name'] %}
          <a href="{{ url_for('student_class_summary', student_id=class_row['student_id']) }}" class="link-dark link-underline-opacity-0 link-underline-opacity-100-hover fw-semibold">
            {{ class_row['first_name'] }}
          </a>
        {% else %}
          No student enrolled
        {% endif %}
      </td>

      <!-- Student last name (clickable to class summary) -->
      <td>
        {% if class_row['last_name'] %}
          <a href="{{ url_for('student_class_summary', student_id=class_row['student_id']) }}" class="link-dark link-underline-opacity-0 link-underline-opacity-100-hover fw-semibold">
            {{ class_row['last_name'] }}
          </a>
        {% else %}
          No student enrolled
        {% endif %}
      </td>

    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}
