<!DOCTYPE html>
<html>
<head>
    <title>Person Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

{{ person }}

<form action="/details/update" method="post">
    <input type="hidden" name="id" value="{{ person.id }}">
    Name: <input type="text" name="name" value="{{ person.name }}"><br>
    City: <input type="text" name="city" value="{{ person.city }}"><br>
    Sex: <input type="text" name="sex" value="{{ person.sex }}"><br>
    Age: <input type="number" min=0 name="age" value="{{ person.age }}"><br>
    Weight: <input type="number" min=0 name="weight" value="{{ person.weight }}"><br>
    <input type="submit" value="Update">
</form>
<a href="/">Back to Results</a><br>
<a href="{{ url_for('index') }}"> Back to results</a>

 </body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>   