{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Teacher Report</h2>



{% for teacher in report %}

  <div class="mb-5">
    <h4>
      {{ teacher['last_name'] }}, {{ teacher['first_name'] }}
      <span class="text-muted fs-6">
        (Total unique students: {{ teacher.total_students }})
      </span>
    </h4>
    <!--teacher report table-->
    <table class="table table-bordered table-sm mt-3">
      <thead class="table-dark">
        <tr>
          <th>Class Name</th>
          <th>Students Enrolled</th>
        </tr>
      </thead>
      <tbody>
        {% for c in teacher.classes %}
        <tr>
          <td>{{ c.class-name }}</td>
          <td>{{ c.student_count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endfor %}

{% endblock %}
